@import "../abstract/medias";

@media (max-width:880px){

    header{
    
        .itens-menu, .btn-contact{
            display: none;
        }

        .menu-mobile{
            position: relative;
            display: block;

            width: 25px;
            height: 100%;
          
            div{
                position: absolute;
                width: 100%;
                border-top: 3px solid;
            }

            & div:first-child{
                top: 45%;
            }

            & div:last-child{
                top: 55%;
            }
        }
    }
    
}