header{
    width: 98.8%;
    height: 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;


    background-color: #ffffff;
    z-index: 1000;
    top: 0;


    .content-logo{

        cursor: pointer;
        strong{
            color: #5468e7;
            font-size: 40px;
        }
        & img:first-child{
            background-color: #5468e7;
            height: 35px;
            width: 35px;
            border-radius: 8px;

        }
        
    }

    .itens-menu{
        margin: 0;
        display: flex;
        width: 50%;
        justify-content: space-evenly;

        a{
            text-decoration: none;
            color: #5468e7;
            font-size: 18px;
            cursor: pointer;
        }

        a:hover{
            color: #8b8b8b;
        }
    }

    .btn-contact-header{
        background-color: #232340;
        border-radius: 8px;
        width: 15%;
        height: 40%;
        color: #fff
    }
    
    .menu-mobile{
        display:none;
        cursor: pointer;
    }
  

}