header{
    width: 98.8%;
    height: 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;


    background-color: #ffffff;
    z-index: 1000;
    top: 0;


    .content-logo{
        strong{
            color: #5468e7;
            font-size: 40px;
        }
        & img:first-child{
            background-color: #5468e7;

        }
        
    }

    .itens-menu{
        margin: 0;

        a{
            display: inline-block;
            text-decoration: none;
            margin-left: 75px;

            color: #5468e7;
            font-size: 18px;
            cursor: pointer;
        }

        a:hover{
            color: #8b8b8b;
        }
    }

    .btn-contact{
        background-color: #232340;
        border-radius: 8px;
        width: 10%;
        height: 40%;
        color: #fff
    }
    
    .menu-mobile{
        display:none
    }
  

}