@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body, html {
  font-family: "Roboto";
  margin: 0;
  width: 98.8vw;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body, html {
  font-family: "Roboto";
  margin: 0;
  width: 98.8vw;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.service {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
  z-index: -10;
}
.service p {
  margin: 0;
}
.service .image-line-service {
  position: absolute;
  left: 5%;
  z-index: 0;
  width: 40%;
  height: 650px;
}
.service .image-line-service img {
  width: 100%;
  height: 100%;
}
.service article, .service .box-header-service {
  z-index: 10;
}
.service .box-header-service {
  margin-top: 25px;
  width: 90%;
  display: grid;
  grid-template-areas: "logo indice navi" "none title navi";
  row-gap: 20px;
  -moz-column-gap: 3%;
       column-gap: 3%;
}
.service .box-header-service p {
  margin: 0;
}
.service .box-header-service .img-logo-service {
  grid-area: logo;
  background-color: #5468e7;
  border-radius: 8px;
}
.service .box-header-service .indice-service {
  grid-area: indice;
  font-size: 18px;
  font-weight: 600;
  color: #5468e7;
}
.service .box-header-service .title-service {
  grid-area: title;
  margin: 0;
  width: 660px;
  font-size: 64px;
  letter-spacing: -0.5px;
  color: #232340;
  font-weight: 700;
}
.service .box-header-service .box-nav-service {
  grid-area: navi;
}
.service .box-header-service .box-nav-service a {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  font-size: 30px;
  border: none;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.service .box-header-service .box-nav-service a:nth-child(2) {
  background-color: #5468e7;
}
.service .box-header-service .box-nav-service .select-year-wwa {
  display: none;
}
.service .box-header-service .box-nav-service a:first-child {
  color: #232340;
}
.service .content-icons {
  display: flex;
  width: 85%;
  max-width: 900px;
  height: 25%;
  border-radius: 48px;
  background-color: #fff;
  box-shadow: 0px 14px 44px -10px rgb(104, 109, 125);
}
.service .content-icons .image-icons {
  width: 25%;
  height: 100%;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #5468e7;
  cursor: pointer;
}
.service .content-icons .image-icons img {
  width: 25%;
  height: 20%;
}
.service .content-icons .image-icons:hover {
  transform: scaleY(1.3);
  background-color: #5468e7;
  color: #fff;
}
.service .arq-service {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 85%;
  max-width: 900px;
  height: 30%;
  margin-bottom: 50px;
}
.service .arq-service aside {
  overflow: hidden;
  height: 100%;
  width: 70%;
}
.service .arq-service aside .box-image-phone {
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: translate(0, -50%);
  top: 50%;
  border-radius: 100%;
  background-color: #f1b2cc;
}
.service .arq-service aside img {
  position: absolute;
  left: 18%;
  top: -30%;
  width: 80%;
  height: 150%;
}
.service .arq-service main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.service .arq-service main .header-arquive {
  display: flex;
  gap: 10px;
  font-size: 18px;
}
.service .arq-service main .header-arquive img {
  background-color: #5468e7;
  border-radius: 8px;
}
.service .arq-service main .header-arquive .indice-arcv {
  color: #232340;
  font-weight: 600;
}
.service .arq-service main .title-arq {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.2;
}
.service .arq-service main .number-arq {
  font-size: 200px;
  font-weight: 600;
  color: #5468e7;
}
.service .arq-service main .number-arq::after {
  content: "😎Successful Projects";
  font-size: 18px;
  display: block;
  width: 200px;
  text-align: center;
  color: #000;
}

@media (max-width: 925px) {
  .service .box-header-service .title-service {
    width: 470px;
    font-size: 48px;
  }
}
@media (max-width: 700px) {
  .service .box-header-service .title-service {
    width: 400px;
    font-size: 40px;
  }
  .service .arq-service main .title-arq {
    font-size: 28px;
  }
  .service .arq-service main .number-arq {
    font-size: 120px;
  }
}
@media (max-width: 650px) {
  .service {
    height: 2200px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  .service .box-header-service {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 650px) and (max-width: 380px) {
  .service .box-header-service .title-service {
    width: 100%;
    font-size: 32px;
  }
}
@media (max-width: 650px) {
  .service .box-header-service img {
    display: none;
  }
}
@media (max-width: 650px) {
  .service .content-icons {
    width: 85%;
    height: 850px;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .service .content-icons .image-icons {
    width: 100%;
    height: 23%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .service .content-icons .image-icons img {
    height: 50%;
    width: 20%;
  }
}
@media (max-width: 650px) {
  .service .arq-service {
    flex-direction: column;
    gap: 25px;
    height: 750px;
  }
  .service .arq-service main p {
    margin-top: 25px;
  }
  .service .arq-service main .header-arquive img {
    height: 50%;
    align-self: flex-end;
  }
  .service .arq-service .image-phone-service {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .service .arq-service .image-phone-service .box-image-phone {
    display: block;
    width: 100%;
  }
}/*# sourceMappingURL=service-main.css.map */